.form {
  display: flex;
  gap: 1em;

  justify-content: center;
}

.input {
  padding: 1em;
  width: clamp(200px, 50%, 600px);
  font-size: 16px;

  border-radius: 15px;
  border: 1px solid #cfcfcf;

  background-color: #f4f4f4;
}

.button {
  border: none;
  padding: 1em;

  background-color: #8155ff;
  border-radius: 15px;

  color: white;
  cursor: pointer;
}

.button:disabled {
  background-color: #888;
}
